h1{
    text-align: center;
    color: white;
    background-color: blue;
    text-transform: uppercase;
    padding: 20px;
}

p{
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}